

.galerie{
    width:500px;
    height:375px;
    position:relative;
    
    margin-bottom:5rem;
    
    figcaption{
        position:absolute;
        bottom:0;
        background:rgba(255,255,255,0.7);
        width:100%;
        text-align:center;
    }
    figure{
        position:relative;
        width:500px;
        height:375px;
    }
}    
    
    
    
$n: random(5) * 3;
// $n:6;
$offset: random(15 - $n + 1);
$j:0;
#container-galerie-animata{
    
    figure{	
        position:absolute;
        left:-20px;
        top:-20px;
        z-index:0;
        border: 10px solid black;
        border-image: url(/resurse/imagini/cinema-border.png) 50 50; 
        animation-name:gal_animata;
        animation-timing-function:linear;
        animation-iteration-count:infinite;
        animation-fill-mode:forwards;
        animation-duration:$n * 3s;	
        

        display: none;
        
    
    }
    &:hover{
        figure{animation-play-state: paused;}
    }
        @for $i from $offset through $offset + $n - 1 {
            $j: 3 * (  $i - $offset);
            // $j: $n * 3 - $j;
            figure:nth-of-type(#{$i}){
                display: block;
                animation-delay:#{$j}s;
            }
        }
         
}   

$t1: calc((3 / ($n * 3) * 100%) * 2);
$t2: calc($t1 / 2);
$t3: calc($t1 * 2);
@keyframes gal_animata{
    0% {z-index:10;opacity:0;clip-path:inset(0% 50%);}
    
    #{$t2}{opacity:1;z-index:10;clip-path:inset(0% 0%);}
    #{$t1}{opacity:1;clip-path:inset(0% 0%);z-index:0;}
    #{$t3}{opacity:1;clip-path:inset(0% 0%);z-index:-10;}
   
    100%{opacity:1;z-index:-10;}
}
    


@media only screen and (max-width:1100px){
    #container-galerie-animata{
        display: none;
    }
}