#galerie-statica{
    padding-left:var(--padding-intern);
    padding-right:var(--padding-intern);
  }
  
  #grid-galerie {
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap:0.5em;
    grid-column-gap:0.5em;
    counter-reset: nrimag 0;  /* nrimag=3 */
    
    grid-template-areas: 
        "g1 g2 g3 g4"
        "g10 . .  g5"
        "g9 g8 g7 g6"
                        ;
    figure{
        display: none;
        
        
    }
    // picture{
        
    // }
    @for $i from 1 through 10{
        figure:nth-child(#{$i}){
            display: block;
            grid-area: g#{$i};
        }
    }
    img{
        width: 100%;
        transition: all 1.25s linear;
        &:hover{
            translate: 0px -15%;
            transform: scale(130%,130%);
        }
    }
    figcaption{
        text-align:center;
        counter-increment: nrimag 1; /* nrimag+=2 */
    
        &::before{
            content: counter(nrimag, lower-alpha) ")";
        }
    }

}
  

  
//   @media only screen and (max-width:1100px){
//     #grid-galerie {
//         grid-template-columns: repeat(2,1fr);
//         grid-template-areas: 
//         "g1  g2"
//         "g3  g4"
//         "g5  g6"
//         "g7  g8"
//         "g9  g6"
//                         ;
//     }
//   }