
nav, #link-top-p, iframe, .taburi-iframe, figure{
    display:none;
}

#banner-print, #grid-pagina{
    display: block;
    background-color: white;
}
.link{
    text-decoration: none; 
    color:var(--culoare-text);
}

header{
    // display: inline;
    page-break-after: always;
    padding-top:50%;
    
    h1{
        text-align: center;
        // vertical-align: middle; // :(
        
        text-decoration: underline;
        font-size: 2.5rem;
    }
    
}
footer{
    page-break-before: always;
}

#watermark{
    display: block;
    position: fixed;
    // top: 0;
    bottom: 0;
    // left: 0;
    right: 0;

    // display: grid;
}
#watermark::after{
    color: var(--colour-light-purple);
    display: block;
    opacity: 0.65;
    border: double var(--colour-light-purple);
    font-size: 60px; //100px cu 2cm il pune pe doua randuri si ajunge sa fie peste jumate din pagina
    transform: scale(1,0.754);

    content:"Alexandru Marius-Crisitan";

    // z-index: -100;
    // display: grid;
    // justify-content: center;
    // align-content: center;
    // transform: rotate(-45deg);
}

#banner-print{
    border: dotted black;
    position: absolute;
    top:0;
    margin: 0 250px;

}

@page :left{
    margin-left: 2.5cm;
    margin-right: 0.5cm;
}
@page :right{
    margin-left: 0.5cm;
    margin-right: 2.5cm;
}
