nav, #link-top-p, iframe, .taburi-iframe, figure {
  display: none;
}

#banner, #grid-pagina {
  display: block;
  background-color: white;
}

.link {
  text-decoration: none;
  color: var(--culoare-text);
}

header {
  page-break-after: always;
  padding-top: 50%;
}
header h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 2.5rem;
}

footer {
  page-break-before: always;
}

#watermark {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
}

#watermark::after {
  color: var(--colour-light-purple);
  display: block;
  opacity: 0.65;
  border: double var(--colour-light-purple);
  font-size: 60px;
  transform: scale(1, 0.754);
  content: "Alexandru Marius-Crisitan";
}

#banner {
  border: dotted black;
  position: absolute;
  top: 0;
  margin: 0 250px;
}

@page :left {
  margin-left: 2.5cm;
  margin-right: 0.5cm;
}
@page :right {
  margin-left: 0.5cm;
  margin-right: 2.5cm;
}